<div class="container-fluid">
  <div class="row">
    <div class="col-md-12"> </div>
    <nav>
      <ul>
        <li>
          <a href="#">Greenhouse Information</a>
          <ul>
            <li>
              <a href="#">Terrains and soiltypes</a>
              <ul>
                <li><a [routerLink]="['/list-soil-types']">List Soil Types</a></li>
                <li><a [routerLink]="['/add-soil-types']">Add Soil Type</a></li>
                <li><a [routerLink]="['/list-terrains']">List Terrains</a></li>
                <li><a [routerLink]="['/add-terrains']">Add Terrain</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Greenhouses</a>
              <ul>
                <li><a [routerLink]="['/list-greenhouses']">List Greenhouses</a></li>
                <li><a [routerLink]="['/add-greenhouses']">Add Greenhouse</a></li>
              </ul>
            </li>
            <li>
              <a href="#">WeatherData</a>
              <ul>
                <li><a [routerLink]="['/list-weather-dates']">List WeatherData</a></li>
              <li><a [routerLink]="['/add-weather-dates']">Add WeatherData</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Ecosystems</a>
                <ul>
                  <li><a [routerLink]="['/list-ecosystems']">List Ecosystems</a></li>
                  <li><a [routerLink]="['/add-ecosystems']">Add Ecosystem</a></li>
                </ul>
            </li>
            
            <li>
              <a href="#"> Locations</a>
              <ul>
                <li><a [routerLink]="['/list-locations']">List Locations</a></li>
                <li><a [routerLink]="['/add-locations']">Add Location</a></li>
              </ul>
            </li>
    
          </ul>
        </li>
    
        <li>
          <a href="#">Plant Information</a>
          <ul>
            
            <li>
              <a href="#">Plant Harvests</a>
              <ul>
                <li><a [routerLink]="['/list-plant-harvests']">List Plant Harvests</a></li>
                <li><a [routerLink]="['/add-plant-harvests']">Add Plant Harvest</a></li>
              </ul>
            </li>  
    
            <li>
              <a href="#">Plant Life Cycles</a>
              <ul>
                <li><a [routerLink]="['/list-plant-life-cycles']">List Plant Life Cycles</a></li>
                <li><a [routerLink]="['/add-plant-life-cycles']">Add Plant Life Cycle</a></li>
              </ul>
            
            </li>
            <li>
              <a href="#">Plant Nutrient Levels</a>
              <ul>
                <li><a [routerLink]="['/list-plant-nutrient-levels']">List Plant Nutrient Levels</a></li>
                <li><a [routerLink]="['/add-plant-nutrient-levels']">Add Plant Nutrient Level</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Pesticides</a>
              <ul>
                <li><a [routerLink]="['/list-pesticides']">List Pesticides</a></li>
                <li><a [routerLink]="['/add-pesticides']">Add Pesticide</a></li>
              </ul>
            </li>
    
            <li>
              <a href="#">Species</a>
              <ul>
                <li><a [routerLink]="['/list-species']">List Species</a></li>
              <li><a [routerLink]="['/add-species']">Add Specie</a></li>
              </ul>
            </li>
    
            <li>
              <a href="#">Watering</a>
              <ul>
                <li><a [routerLink]="['/list-waterings']">List Watering </a></li>
                <li><a [routerLink]="['/add-waterings']">Add Watering </a></li>
              </ul>
            </li>  
            <li>
              <a href="#">Plants</a>
              <ul>
                <li><a [routerLink]="['/list-plants']">List Plants</a></li>
                <li><a [routerLink]="['/add-plants']">Add Plant</a></li>
              </ul>
            </li>  
            <li>
              <a href="#">Photos</a>
              <ul>
                <li><a [routerLink]="['/list-photos']">List Photos</a></li>
                <li><a [routerLink]="['/add-photos']">Add Photos</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">User information</a>
          <ul>
            <li>
              <a href="#" id="userx">Users</a>
              <ul>
                <li><a  [routerLink]="['/list-users']">List Users</a></li>
              </ul>
            </li>
            
            <li>
              <a href="#" id="workerx">Worker</a>
              <ul>
                <li><a [routerLink]="['/list-workers']">List Workers</a></li>
                <li><a [routerLink]="['/add-workers']">Add Worker</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Visit information</a>
          <ul>
            <li>
              <a href="#">Visit Prices</a>
              <ul>
                <li><a [routerLink]="['/list-visit-prices']">List Visit Prices</a></li>
                <li><a [routerLink]="['/add-visit-prices']">Add Visit Price</a></li>
              </ul>
            </li>
            <li>
              <a href="#">Visit Times</a>
              <ul>
                <li><a [routerLink]="['/list-visit-times']">List Visit Times</a></li>
                <li><a [routerLink]="['/add-visit-times']">Add Visit Time</a></li>
              </ul>
            </li>
    
            <li>
              <a href="#">Visits</a>
              <ul>
                <li><a [routerLink]="['/list-visits']">List Visits</a></li>
                <li><a [routerLink]="['/add-visits']">Add Visit</a></li>
              </ul>
            </li>    
          </ul>
        </li>
    
        <li>
          <a href="#">Work Information</a>
          <ul>
            <li>
              <a href="#">Work Schedule</a>
              <ul>
                <li><a [routerLink]="['/list-work-schedules']">List Work Schedules</a></li>
                <li><a [routerLink]="['/add-work-schedules']">Add Work Schedule</a></li>
              </ul>
            </li>
            
            <li>
              <a href="#">Harvest Schedule</a>
              <ul>
                <li><a [routerLink]="['/list-plant-harvests']">List Plant Harvests</a></li>
                <li><a [routerLink]="['/add-plant-harvests']">Add Plant Harvest</a></li>
              </ul>
            </li>
            
          </ul>
        </li>
      </ul>

    </nav>
  </div>

</div>


<router-outlet></router-outlet>
