<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3> Our Soil Types:</h3>
                <ul class="ull">
                    <li *ngFor="let soilType of soilTypes">
                        Type: {{soilType.Type}} <br> Terrain: {{soilType.Terrain}}
                        <p></p>
                        <button [routerLink]="['/edit-soil-types', soilType.SoilTypeID]">Edit</button>
                        <button (click)="deleteSoilType(soilType.SoilTypeID)">Delete</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</body>
</html>