<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3> Our Pesticides: </h3>
                <ul class="ull">
                    <li *ngFor="let pesticide of pesticides">
                        - Type: {{pesticide.Type}} <br> Date: {{pesticide.Date}} <br> Plant: {{ pesticide.Plant}} <br> Worker:{{ pesticide.Worker }}
                    <button [routerLink]="['/edit-pesticides', pesticide.PesticideID]">Edit</button>
                        <button (click)="deletePesticide(pesticide.PesticideID)">Delete</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
</body>
</html>
