<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Our Weather Data:</h3>
                <ul class="ull">
                    <li *ngFor="let weatherDate of weatherDates">
                        Date: {{weatherDate.Date}} <br>
                        Temperature: {{weatherDate.Temperature}} <br>
                        Humidity: {{weatherDate.Humidity}} <br>
                        Location: {{weatherDate.Location}} <br>
                        <button [routerLink]="['edit-weather-dates', weatherDate.WeatherDateID]">Edit </button>
                        <button (click)="deleteWeatherDate(weatherDate.WeatherDateID)">Delete </button>

                    </li>

                </ul>
            </div>
        </div>
    </div>
    
</body>
</html>