<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Plant Nutrient Levels: </h3>
                <ul class="ull">
                    <li *ngFor="let plantNutrient of plantNutrients"> 
                        Nitrogen levels: {{plantNutrient.Nitrogen}} <br>
                        Phosphorus levels: {{ plantNutrient.Phosphorus}} <br>
                        Potassium levels: {{ plantNutrient.Potassium}} <br>
                        Plant: {{ plantNutrient.Plant}}

                        <button [routerLink]="['edit-plant-nutrient-levels', plantNutrient.PlantNutrientLevelID]">Edit</button>
                        <button (click)="deletePlantNutrientLevel(plantNutrient.PlantNutrientLevelID)">Delete </button>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</body>
</html>