<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <form [formGroup]="addTerrainForm" (ngSubmit)="onSubmit()">
                    <h4>Add Terrain:</h4>
                    <label for="type">Type:</label>
                    <input id="type" formControlName="Type" />
                    <label for="features">Features:</label>
                    <input id="features" type="text" formControlName="Features">
                    <label for="ecosystem"> Ecosystem:</label>
                    <input id="ecosystem" type="text" formControlName="Ecosystem">
                    <button type="submit" [disabled]="addTerrainForm.invalid">Add Terrain</button>
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>