<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <form [formGroup]="editVisitForm" (ngSubmit)="onSubmit()">
                    <label for="greenhouse"> Greenhouse: </label>
                    <input id="greenhouse" formControlName="Greenhouse" type="text">
                    <label for="user">User: </label>
                    <input id="user" formControlName="User" type="text">
                    <button type="submit" [disabled]="editVisitForm.invalid">Edit Visit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>