<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Our Terrains:</h3>
                    <ul class="ull">
                        <li *ngFor="let terrain of terrains">
                            Type: {{terrain.Type}} <br> Features: {{terrain.Features}} <br> Ecosystem: {{terrain.Ecosystem}}
                            <p></p>
                            <button [routerLink]="['/edit-terrains', terrain.TerrainID]">Edit</button>
                            <button (click)="deleteTerrain(terrain.TerrainID)">Delete</button>
                        </li>
                    </ul>

        </div></div>
    </div>
    
</body>
</html>