<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Our Users: </h3>
                <ul class="ull">
                    <li *ngFor="let user of users">
                        Name: {{user.Username}} <br>
                        Email: {{user.Email}} <br>
                        Date Joined: {{user.DateJoined}} <br>
                        <button [routerLink]="['/edit-users', user.UserID]">Edit</button>
                        <button (click)="deleteUser(user.UserID)">Delete</button>
                    </li>
                </ul>    
                
            </div>
        </div>
    </div>
</body>
</html>